.footer {
  width: 100%;
  height: 40vh;
  /* border: 1px solid black; */
  background-color: #323232;
  color: white;
}
.socialicon {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}
.socialicon img {
  height: 30px;
}

.belowfooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.belowfooter img {
  height: 50px;
}

.leftfooter {
  border-right: 1px solid white;
}
.leftfooter span {
  font-weight: 800;
}
.leftfooter,
.rightfooter {
  padding: 30px;
  font-size: 15px;
}
